$background-color-base: #FE0000;
$background-color-important: #650000;
$background-color-warning: #FFBFCC;
$principal-font: Century Gothic;
$secundary-font: Roboto;
$theme: "A";
$weight: bold;
$border-radius: 0px;
$box-shadow: -10px 10px 15px 2px black;