$background-color-base: #0000FF;
$background-color-important: #000065;
$background-color-warning: #00FFFF;
$principal-font: roboto;
$secundary-font: roboto;
$theme: "B";
$weight: normal;
$border-radius: 10px;
$box-shadow: 10px 10px 15px 2px black;