$background-color-baseA: #FE0000;
$background-color-baseB: #0000FF;
$background-color-importantA: #650000;
$background-color-importantB: #000065;
$background-color-warningA: #FFBFCC;
$background-color-warningB: #00FFFF;
$principal-font: roboto;
$secondary-font: Century Gothic;